body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Indie Flower', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e3c6bc;
}

.page {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

header {
  max-width: 20%;
  min-height: 100%;
}

nav {
  position: static;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 1%;
  background-color: #d1e4e3;
}

.header-text {
  font-size: 3em;
  margin: 0;
  text-align: center;
}

ul.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #000000;
}

.menu-link {
  color: #000000;
  font-size: 30px;
  font-weight: bold;
}

.menu-item {
  margin-top: 1%;
}

.menu-tag {
  width: 100%;
  text-align: center;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #b6b0b0;
}

.menu-tags {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
  font-weight: normal;
  font-size: 20px;
}

.showmenu {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 2em;
}

main {
  display: flex;
  width: 80%;
  margin: 0;
  padding: 1%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h3, p {
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 0;
}

.logo-img {
  width: 100px;
  height: 100px;
}

.post {
  display: flex;
  background-color: #FFFFFF;
  margin-bottom: 1%;
  box-shadow: 0 3px 3px -1px rgba(0,0,0,.3);
}

.post-small {
  color: #858585;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.post-title {
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.main-post {
  background-color: #FFFFFF;
  padding: 1%;
}

.main-post-title {
  text-align: center;
}

.main-post-small {
  color: #858585;
  font-size: 1em;
  margin-bottom: 0.5em;
}

.main-post-back {
  color: #858585;
}

.main-post-text {
  margin-bottom: 1em;
}

.post-link {
  text-decoration: none;
  color: #000000;
}

.post-link::after {
  text-decoration: none;
}

.post-img {
  width: 30%;
}

img {
  display: block;
  width: 98%;
  height: 98%;
  margin: 1%;
  object-fit: cover;
}

.post-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin-left: 1%;
}

.post-description {
  font-size: 20px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.recommended-top {
  margin: 0;
  text-align: center;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #b6b0b0;
}

.recommended-text {
  font-weight: normal;
  font-size: 20px;
  color: #000000;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  #root {
    height: 100%;
    max-width: 75%;
    min-width: 1280px;
    margin: 0 auto;
    padding: 0;
  }
  .page {
    min-width: 1280px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
  }
}

@media screen and (max-width: 1050px) {
  .header-text {
    font-size: 2em;
  }
  .menu-link {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  header {
    max-width: 200px;
  }
  nav {
    position: absolute;
    display: none;
    width: 200px;
  }
  main {
    width: 100%;
  }
  .showmenu {
    display: block;
  }
  .header-text {
    font-size: 1.5em;
  }
  .post-title {
    font-size: 20px;
  }
  .post-description {
    font-size: 15px;
  }
  .recommended-text {
    font-size: 15px;
  }
  .menu-tags {
    font-size: 15px;
  }
}
